<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Motrix</title>
    <% if (htmlWebpackPlugin.options.nodeModules) { %>
      <!-- Add `node_modules/` to global paths so `require` works properly in development -->
      <script>
        require('module').globalPaths.push('<%= htmlWebpackPlugin.options.nodeModules.replace(/\\/g, '\\\\') %>')
      </script>
    <% } %>
    <script>
      const params = new URLSearchParams(document.location.search.substring(1))
      const theme = params.get('theme') || ''
      document.documentElement.className += ` theme-${theme}`
    </script>
  </head>
  <body>
    <div id="app">
      <div class="title-bar"></div>
      <section class="el-container" id="container">
        <aside
          class="el-aside aside hidden-sm-and-down"
          style="width: 78px;"
        >
        </aside>
        <section class="el-container content panel">
          <aside class="el-aside subnav hidden-xs-only" style="width: 200px;">
          </aside>
          <section class="el-container content panel">
          </section>
        </section>
      </section>
    </div>
    <!-- Set `__static` path to static files in production -->
    <% if (!process.browser) { %>
      <script>
        if (process.env.NODE_ENV !== 'development') {
          window.__static = require('path').join(__dirname, '/static').replace(/\\/g, '\\\\')
        }
      </script>
    <% } %>

    <!-- webpack builds are automatically injected -->
  </body>
</html>
